*{
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat Regular',Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(112, 112, 112);
}

body{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

#page-header{
    /* background-color: black; */
    background-color: transparent;
    padding: 0.7rem 5rem;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.header-inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#page-header #logo{
    flex: 1;
}
.header-inner nav{
    display: flex;
}

.header-inner nav > a{
    color: white;
    padding: 3px 10px;
    font-size: 0.7rem;
}

#main-nav > a{
    text-transform: uppercase;
}

#page-header nav.social-nav a{
    font-size: 1rem;
}

#page-header nav.social-nav a:hover{
    color: #4e4e4e;
}

#hero-section{
    height: 100vh;
    background-image: url(../Img/hero-bg40.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position: relative;
}

.overlay{
    content: "";
    position: absolute;
    left: 0;
    top:0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
}

.block-center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.hero-box{
    position: relative;
}

.hero-box .price{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: #ffd800;
    position: absolute;
    top: -30px;
    right: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero-box .price span{
    text-align: center;
    color: #000;
    font-size: 0.6rem;
    text-transform: uppercase;
}

.hero-box .price span.n{
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
}

.hero-box h1{
    text-align: center;
    color: white;
}

.hero-box h1 .first{
    font-size: 3.5rem;
    font-weight: normal;
    display: block;
}
.hero-box h1 .last{
    font-family: 'Montserrat Regular';
    font-size: 6rem;
    display: block;
    margin-top: -30px;
    text-shadow: 7px 7px 15px #666;
    font-style: italic;
}

.book-now{
    text-align: center;
    margin: 3rem;
}

.book-now a{
    /* display: block;
    width: 130px;
    margin: auto; */
    background-color: #f26149;
    padding: 1rem 1.7rem;
    border-radius: 2rem;
    color: #fff;
    text-transform: uppercase;
}
.row{
    display: flex;
    flex-wrap: wrap;
}

.col{
    width: 25%;
    padding: 20px;
}

.offer-img img{
    width: 100%;
}